[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=spec/FIX44.xml
HttpAcceptPort=9912
#ClientCertificateFile=
#ClientCertificateKeyFile=
SSLProtocol = +SSLv3 +TLSv1 -SSLv2
TimestampPrecision=6
PreserveMessageFieldsOrder=N
AllowUnknownMsgFields=Y


[SESSION]
BeginString=FIX.4.4
SenderCompID=FXCHComp42265
TargetCompID=GtwComp
Username=fxch
Password=password
HeartBtInt=30
SocketConnectHost=63.35.104.82
SocketConnectPort=6327
ResetSeqNumFlag=Y
HeartBtInt=30
B=Y
AE=Y
TSST=0

RawData=0