[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store-staging
FileLogPath=../sh22/testlog-staging
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=spec/FIX44_BFX-DROPCOPY.xml
HttpAcceptPort=9940
SSLProtocol = +SSLv3 +TLSv1_2 -SSLv2
TimestampPrecision=6
#PreserveMessageFieldsOrder=N
#AllowUnknownMsgFields=N

# standard config elements

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.4
SocketConnectHost=0.0.0.0
SocketConnectPort=22221
SenderCompID=ValonOrdComp01
TargetCompID=BfxComp
Username=Zk0AgmtW3I2IbUVvVX4wRtq1NVzXim3Ue3R7a6FOkkK
Password=f0tGLiAJVbHDS4eoXRLBg2qrRJuPLtS0xKazcxTz1bK
ResetSeqNumFlag=Y
B=Y
AE=Y
TSST=20230101-00:00:00
HeartBtInt=30
